p, ul, ol {
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 15px;
}

code {
    font-size: 0.9em;
}

h2 {
    font-weight: 400;
}

h1 {
    font-weight: 500;
}

hr {
    border: 0px;
    border-top: 2px dotted lightgrey;
}

.deadline-highlight {
    background-color: #1f5ce9be;
    color: white;
    border-radius: 3px;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

hr {
    border: 0px;
    border-top: 3px dotted lightgrey;
}



/* ---------- Listing Title -------*/
div.jobs h3 {
    font-weight: 500;
    margin-bottom: 0.25em;
    /* margin-top: 1em; */
    padding-top: 1em;
    border-top: 3px dotted lightgrey;
}

div.jobs h3::before {
    content: "🎓  ";
    margin-right: 0.5em;

}

/* --------- BUTTON CSS --------------- */
.button-job {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    margin-right: 2em;
    margin-bottom: 1em;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .button-job:hover,
  .button-job:focus {
    background-color: #b3d3ea;
    color: #2c5777;
  }
  
  .button-job:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .button-job:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
  }
  


/* --------- STYLED TABLE --------------- */

.styled-table {
    border-collapse: collapse;
    min-width: 400px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}



.styled-table th,
.styled-table td {
    padding: 2px 7px;
    font-size: 0.9em;
    font-weight: 300;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}

.styled-table tbody tr a::before {
    content:"🔗 "
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #000398;
}

.styled-table tbody tr th {
    background-color: #000398;
    color: #ffffff;
    text-align: left;
}


strong em {
    background-color: #1f5ce9be;
    color: white;
    border-radius: 3px;
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-style: normal;
}



/* --------- NOTICE CSS --------------- */

.notice {
    margin: 1em 0 !important;
    padding: 1em;
    text-indent: initial; /* override */
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: 300;
} 

.notice ul, .notice p {
    margin-bottom:0em;
}

.notice-blue {
    background-color: #52acc827;
    box-shadow: 0 1px 1px #31677785;
}

.notice-red {
    background-color: #f48f8f58;
    box-shadow: 0 1px 1px #d3d2d2;
}

.notice-green {
    background-color: #79c77658;
    box-shadow: 0 1px 1px #d3d2d2;
}

/* notice-gray is used for checkbox lists */
.notice-gray {
    background-color: #f3f3f3;
    box-shadow: 0 1px 1px #d3d2d2;
}

.notice-gray ul{
    list-style: none;
    margin-left: 0em;
}

.criteria ul {
    list-style: none;
    margin-left: 0em;
    text-align: match-parent;
    list-style-position: outside;
}

.criteria li{
    text-indent: -2em;
    padding-left: 1em;
}

.criteria li::before {
    content: "✅";
    margin-right: 1em;
}




